body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arial';
}

h2 {
  font-size: 2.5em !important;
}

p {
  font-size: 1.5em !important;
}

@font-face {
  font-family: 'testfont';
  font-weight: 'normal';
  src: url("assets/fonts/enchanted.otf") format("opentype");
}

html,
body {
  overflow-y: auto;
  height: 100%;
}

.MuiPaper-root {
  background-color: rgba(104, 76, 172, 0.9) !important;
}

.makeStyles-paper-11,
.makeStyles-paper-11 h2,
.MuiTypography-body1,
.MuiPaper-root,
.MuiPaper-root h2 {
  color: #FFFFFF !important;
}

body {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  
}

footer .a:hover {
  fill: '#DA4567';
}

.MuiToolbar-regular {
  color: #e0e3bd;
}

.MuiButton-containedPrimary,
.MuiButton-containedPrimary:hover,
.MuiListItem-button:hover,
.MuiButtonBase-root:hover {
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
